@media (max-width: 768px) {
    .game-play {
        width: 600px;
        padding-left: 50px;
    }
  
    .wrapper, background-image {
        width: auto;
    }
    .startBtn {
        transform: translate(-80%, 0);
    }
    .countdown {
        Padding-left: 18%;
    }
}