* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 391px) and (max-width: 2200px) {
    .html {
        display: flex;
    }
}

.bgimg {
    position: absolute;
    opacity: 0.7;
    background-color: ;
    padding-top: 10px;
    padding-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    padding-left: 35%;
    justify-content: center;
    display: flex;
    height: 695px;
    background-repeat: no-repeat;
}

.cursor img {
    position: absolute;
    height: 100px;
    width: 50px;
    z-index: 2;
    transform: translate( -50%, -50%);
    cursor: none;
}

@keyframes hit {
    from {
        transform: rotate(-0deg);
    }
    to {
        transform: rotate(-110deg);
    }
}

.wrapper {
    border: 0 solid black;
}

.score {
    border: 0 solid red;
    color: white;
    position: relative;
    top: 85px;
    width: 180px;
    margin-left: 48%;
    font-size: 20px;
    text-align: center;
    color: rgb(255 252 252);
    transform: translate(-50%, 0);
}

.highScore {
    border: 1px solid #e0dbdbb6;
    color: white;
    position: relative;
    top: 15px;
    width: 180px;
    margin-left: 48%;
    font-size: 20px;
    text-align: center;
    color: rgb(255 252 252);
    transform: translate(-50%, 0);
}

.countdown {
    border: 0px solid black;
    position: relative;
    top: 500px;
    width: 180px;
    margin-left: 47%;
    font-size: 20px;
    text-align: center;
    color: rgb(255 252 252);
    transform: translate(-50%, 0);
}

.startBtn {
    position: relative;
    top: 680px;
    margin-left: 47%;
    background: rgb(184, 3, 3);
    color: white;
    padding: 20px 50px;
    border-radius: 5px;
    z-index: 200;
    cursor: pointer;
    border: none;
    outline: none;
}

.game-play {
    position: relative;
    padding-bottom: 0px;
    right: 0px;
    width: 600px;
    height: 500px;
    margin: 0px auto;
    z-index: 250;
    display: flex;
    flex-wrap: wrap;
}


/* rules */

.rule-Btn {
    position: fixed;
    background-color: red;
    top: 46%;
    left: 47%;
    width: 135px;
    height: 60px;
    position: fixed;
    cursor: pointer;
    z-index: 2;
}

.instructions {
    position: fixed;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    max-width: 80%;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.header {
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.title {
    font-weight: bold;
    font-size: 1.30rem;
}

.closeBtn {
    background: none;
    border: none;
    outline: none;
    font-size: 1.30rem;
    font-weight: bold;
    cursor: pointer;
}

.rule-body-body {
    padding: 10px 15px;
}

#overlay {
    opacity: 0;
    position: fixed;
}


/* Game play holes*/

.hole {
    padding-left: 20px;
    column-count: 9;
    column-gap: 20px;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}

.hole:after {
    content: '';
    display: block;
    width: 100%;
    height: 70px;
    bottom: -30px;
    background-image: url('../images/claypile.png');
    position: absolute;
    z-index: 2;
    background-size: cover;
}

.yoda {
    background-image: url('../images/yoda1.png');
    position: absolute;
    margin-left: 25px;
    top: 80%;
    width: 90%;
    height: 140%;
    transition: 0.4s;
    background-repeat: no-repeat;
    background-position: bottom;
}

.yoda.small {
    background-size: 60%;
}

.yoda.large {
    background-size: 60%;
}

.hole.up .yoda {
    top: 0;
}


/* Media ipad */

@media (max-width: 1024px) {
    .bgimg {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 17%;
        width: 100%;
        display: flex;
        height: 1400px;
        background-repeat: no-repeat;
    }
    .game-play {
        position: relative;
        padding-bottom: 0;
        left: 50px;
        width: 710px;
        height: 800px;
        z-index: 250;
        display: flex;
        space-between: 20%;
        flex-wrap: wrap;
    }
    .instructions {
        position: fixed;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        width: 500px;
        max-width: 80%;
        top: 35%;
        left: 50%;
        z-index: 300;
        visibility: hidden;
        opacity: 0;
    }
    .bg-active {
        visibility: visible;
        opacity: 1;
    }
    .rule-Btn {
        position: fixed;
        border-radius: 20px;
        background-color: #f5f2f2;
        top: 85%;
        left: 43%;
        width: 140px;
        height: 60px;
        position: fixed;
        cursor: pointer;
        z-index: 200;
    }
    .startBtn {
        position: relative;
        top: 1150px;
        margin-left: 50%;
        transform: translate(-50%, 0);
        background: rgb(184, 3, 3);
        color: white;
        padding: 20px 50px;
        border-radius: 20px;
        z-index: 200;
        cursor: pointer;
        border: none;
        outline: none;
    }
    .highScore {
        color: white;
        position: relative;
        margin-left: 49%;
        top: 0;
        left: 20px;
        font-size: 18px;
        font-weight: 900;
        text-shadow: 5px 5px 10px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 15px;
        border-radius: 5px;
    }
    .score {
        border: 0 solid red;
        color: #0e0e0e;
        position: relative;
        top: 140px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 50%;
        font-size: 25px;
        font-weight: 900;
        text-shadow: 0px 0px 0px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }
    .countdown {
        border: 0 solid black;
        position: relative;
        top: 1020px;
        width: 180px;
        margin-left: 50%;
        font-size: 20px;
        text-align: center;
        color: rgb(255 252 252);
    }
    .yoda {
        background-image: url('../images/yoda1.png');
        position: absolute;
        margin-left: 20px;
        top: 100%;
        width: 100%;
        height: 100%;
        transition: 0.4s;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .hole {
        column-count: 9;
        column-gap: 20px;
        justify-content: space-evenly;
        position: relative;
        overflow: hidden;
    }
}


/* Media ipad 2 */

@media (max-width: 768px) {
    .bgimg {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 20%;
        width: 100%;
        display: flex;
        height: 1050px;
        background-repeat: no-repeat;
    }
    .game-play {
        position: relative;
        padding-bottom: 80px;
        left: 10px;
        width: 600px;
        height: 650px;
        margin: 10px auto;
        z-index: 250;
        display: flex;
        space-between: 20%;
        flex-wrap: wrap;
    }
    .instructions {
        position: fixed;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        width: 500px;
        max-width: 80%;
        top: 35%;
        left: 50%;
        z-index: 300;
        visibility: hidden;
        opacity: 0;
    }
    .bg-active {
        visibility: visible;
        opacity: 1;
    }
    .rule-Btn {
        position: fixed;
        background-color: #f5efef;
        top: 84%;
        left: 41%;
        width: 140px;
        height: 60px;
        position: fixed;
        cursor: pointer;
        z-index: 200;
    }
    .startBtn {
        position: relative;
        top: 830px;
        margin-left: 50%;
        transform: translate(-50%, 0);
        background: rgb(184, 3, 3);
        color: white;
        padding: 20px 50px;
        border-radius: 20px;
        z-index: 200;
        cursor: pointer;
        border: none;
        outline: none;
    }
    .highScore {
        color: white;
        position: relative;
        margin-left: 46%;
        top: 0;
        left: 20px;
        font-size: 18px;
        font-weight: 900;
        text-shadow: 5px 5px 10px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 15px;
        border-radius: 5px;
    }
    .score {
        border: 0 solid red;
        color: #0e0e0e;
        position: relative;
        top: 140px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 50%;
        font-size: 25px;
        font-weight: 900;
        text-shadow: 0px 0px 0px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }
    .countdown {
        border: 0 solid black;
        position: relative;
        top: 720px;
        width: 180px;
        margin-left: 50%;
        font-size: 20px;
        text-align: center;
        color: rgb(255 252 252);
    }
    .yoda {
        background-image: url('../images/yoda1.png');
        position: absolute;
        margin-left: 30px;
        top: 100%;
        width: 80%;
        height: 110%;
        transition: 0.4s;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .hole {
        column-count: 9;
        column-gap: 20px;
        justify-content: space-evenly;
        position: relative;
        overflow: hidden;
    }
}


/* Media smart phone 540 */

@media (max-width: 540px) {
    .bgimg {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 20%;
        width: 100%;
        display: flex;
        height: 900px;
        background-repeat: no-repeat;
    }
    .game-play {
        position: relative;
        padding-bottom: 80px;
        left: 10px;
        width: 600px;
        height: 450px;
        margin: 10px auto;
        z-index: 250;
        display: flex;
        space-between: 20%;
        flex-wrap: wrap;
    }
    .instructions {
        position: fixed;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        width: 500px;
        max-width: 80%;
        top: 35%;
        left: 50%;
        z-index: 300;
        visibility: hidden;
        opacity: 0;
    }
    .bg-active {
        visibility: visible;
        opacity: 1;
    }
    .rule-Btn {
        position: fixed;
        background-color: #f5efef;
        top: 80%;
        left: 37%;
        width: 140px;
        height: 60px;
        position: fixed;
        cursor: pointer;
        z-index: 200;
    }
    .startBtn {
        position: relative;
        top: 630px;
        margin-left: 54%;
        transform: translate(-50%, 0);
        background: rgb(184, 3, 3);
        color: white;
        padding: 20px 50px;
        border-radius: 20px;
        z-index: 200;
        cursor: pointer;
        border: none;
        outline: none;
    }
    .highScore {
        color: white;
        position: relative;
        margin-left: 52%;
        top: 0;
        left: 20px;
        font-size: 18px;
        font-weight: 900;
        text-shadow: 5px 5px 10px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 15px;
        border-radius: 5px;
    }
    .score {
        border: 0 solid red;
        color: #0e0e0e;
        position: relative;
        top: 140px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 56%;
        font-size: 25px;
        font-weight: 900;
        text-shadow: 0px 0px 0px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }
    .countdown {
        border: 0 solid black;
        position: relative;
        top: 520px;
        width: 180px;
        margin-left: 55%;
        font-size: 20px;
        text-align: center;
        color: rgb(255 252 252);
    }
    .yoda {
        background-image: url('../images/yoda1.png');
        position: absolute;
        margin-left: 30px;
        top: 100%;
        width: 80%;
        height: 110%;
        transition: 0.4s;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .hole {
        column-count: 9;
        column-gap: 20px;
        justify-content: space-evenly;
        position: relative;
        overflow: hidden;
    }
}


/* Media smart phone 414 */

@media (max-width: 414px) {
    .bgimg {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 20%;
        width: 100%;
        display: flex;
        height: 1122px;
        background-repeat: no-repeat;
    }
    .game-play {
        position: relative;
        padding-bottom: 80px;
        left: 10px;
        width: 600px;
        height: 650px;
        margin: 10px auto;
        z-index: 250;
        display: flex;
        space-between: 20%;
        flex-wrap: wrap;
    }
    .instructions {
        position: fixed;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        width: 500px;
        max-width: 80%;
        top: 35%;
        left: 50%;
        z-index: 300;
        visibility: hidden;
        opacity: 0;
    }
    .bg-active {
        visibility: visible;
        opacity: 1;
    }
    .rule-Btn {
        position: fixed;
        background-color: #f1eeee;
        top: 85%;
        left: 40%;
        width: 140px;
        height: 60px;
        position: fixed;
        cursor: pointer;
        z-index: 200;
    }
    .startBtn {
        position: relative;
        top: 900px;
        margin-left: 75%;
        transform: translate(-50%, 0);
        background: rgb(184, 3, 3);
        color: white;
        padding: 20px 50px;
        border-radius: 20px;
        z-index: 200;
        cursor: pointer;
        border: none;
        outline: none;
    }
    .highScore {
        color: white;
        position: relative;
        margin-left: 70%;
        top: 0;
        left: 20px;
        font-size: 18px;
        font-weight: 900;
        text-shadow: 5px 5px 10px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 15px;
        border-radius: 5px;
    }
    .score {
        border: 0 solid red;
        color: #0e0e0e;
        position: relative;
        top: 140px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 75%;
        font-size: 25px;
        font-weight: 900;
        text-shadow: 0px 0px 0px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }
    .countdown {
        border: 0 solid black;
        position: relative;
        top: 760px;
        width: 180px;
        margin-left: 75%;
        font-size: 20px;
        text-align: center;
        color: rgb(255 252 252);
    }
    .yoda {
        background-image: url('../images/yoda1.png');
        position: absolute;
        margin-left: 10px;
        top: 100%;
        width: 100%;
        height: 110%;
        transition: 0.4s;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .hole {
        column-count: 9;
        column-gap: 20px;
        justify-content: space-evenly;
        position: relative;
        overflow: hidden;
    }
}


/* Media smart phone 411 */

@media (max-width: 411px) {
    .bgimg {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 20%;
        width: 100%;
        display: flex;
        height: 1295px;
        background-repeat: no-repeat;
    }
    .game-play {
        position: relative;
        padding-bottom: 80px;
        left: 10px;
        width: 600px;
        height: 650px;
        margin: 10px auto;
        z-index: 250;
        display: flex;
        space-between: 20%;
        flex-wrap: wrap;
    }
    .instructions {
        position: fixed;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        width: 500px;
        max-width: 80%;
        top: 35%;
        left: 50%;
        z-index: 300;
        visibility: hidden;
        opacity: 0;
    }
    .bg-active {
        visibility: visible;
        opacity: 1;
    }
    .rule-Btn {
        position: fixed;
        border-radius: 20px;
        background-color: #f5f2f2;
        top: 84%;
        left: 38%;
        width: 140px;
        height: 60px;
        position: fixed;
        cursor: pointer;
        z-index: 200;
    }
    .startBtn {
        position: relative;
        top: 900px;
        margin-left: 73%;
        transform: translate(-50%, 0);
        background: rgb(184, 3, 3);
        color: white;
        padding: 20px 50px;
        border-radius: 20px;
        z-index: 200;
        cursor: pointer;
        border: none;
        outline: none;
    }
    .highScore {
        color: white;
        position: relative;
        margin-left: 70%;
        top: 0;
        left: 20px;
        font-size: 18px;
        font-weight: 900;
        text-shadow: 5px 5px 10px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 15px;
        border-radius: 5px;
    }
    .score {
        border: 0 solid red;
        color: #0e0e0e;
        position: relative;
        top: 140px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 75%;
        font-size: 25px;
        font-weight: 900;
        text-shadow: 0px 0px 0px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }
    .countdown {
        border: 0 solid black;
        position: relative;
        top: 820px;
        width: 180px;
        margin-left: 73%;
        font-size: 20px;
        text-align: center;
        color: rgb(255 252 252);
    }
    .yoda {
        background-image: url('../images/yoda1.png');
        position: absolute;
        margin-left: 30px;
        top: 100%;
        width: 80%;
        height: 110%;
        transition: 0.4s;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .hole {
        column-count: 9;
        column-gap: 20px;
        justify-content: space-evenly;
        position: relative;
        overflow: hidden;
    }
}


/* Media smart phone 375 */

@media (max-width: 375px) {
    .bgimg {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 20%;
        width: 100%;
        display: flex;
        height: 1350px;
        background-repeat: no-repeat;
    }
    .game-play {
        position: relative;
        padding-bottom: 80px;
        left: 10px;
        width: 600px;
        height: 650px;
        margin: 10px auto;
        z-index: 250;
        display: flex;
        space-between: 20%;
        flex-wrap: wrap;
    }
    .instructions {
        position: fixed;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        width: 500px;
        max-width: 80%;
        top: 35%;
        left: 50%;
        z-index: 300;
        visibility: hidden;
        opacity: 0;
    }
    .bg-active {
        visibility: visible;
        opacity: 1;
    }
    .rule-Btn {
        position: fixed;
        background-color: white;
        top: 84%;
        left: 38%;
        width: 140px;
        height: 60px;
        position: fixed;
        cursor: pointer;
        z-index: 200;
    }
    .startBtn {
        position: relative;
        top: 900px;
        margin-left: 80%;
        transform: translate(-50%, 0);
        background: rgb(184, 3, 3);
        color: white;
        padding: 20px 50px;
        border-radius: 20px;
        z-index: 200;
        cursor: pointer;
        border: none;
        outline: none;
    }
    .highScore {
        color: white;
        position: relative;
        margin-left: 76%;
        top: 0;
        left: 20px;
        font-size: 18px;
        font-weight: 900;
        text-shadow: 5px 5px 10px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 15px;
        border-radius: 5px;
    }
    .score {
        border: 0 solid red;
        color: #0e0e0e;
        position: relative;
        top: 140px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 80%;
        font-size: 25px;
        font-weight: 900;
        text-shadow: 0px 0px 0px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }
    .countdown {
        border: 0 solid black;
        position: relative;
        top: 750px;
        width: 180px;
        margin-left: 80%;
        font-size: 20px;
        text-align: center;
        color: rgb(255 252 252);
    }
    .yoda {
        background-image: url('../images/yoda1.png');
        position: absolute;
        margin-left: 10px;
        top: 100%;
        width: 100%;
        height: 110%;
        transition: 0.4s;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .hole {
        column-count: 9;
        column-gap: 20px;
        justify-content: space-evenly;
        position: relative;
        overflow: hidden;
    }
}

@media (max-width: 360px) {
    .bgimg {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 20%;
        width: 100%;
        display: flex;
        height: 1350px;
        background-repeat: no-repeat;
    }
    .game-play {
        position: relative;
        padding-bottom: 80px;
        left: 10px;
        width: 600px;
        height: 650px;
        margin: 10px auto;
        z-index: 250;
        display: flex;
        space-between: 20%;
        flex-wrap: wrap;
    }
    .instructions {
        position: fixed;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        width: 500px;
        max-width: 80%;
        top: 35%;
        left: 50%;
        z-index: 300;
        visibility: hidden;
        opacity: 0;
    }
    .bg-active {
        visibility: visible;
        opacity: 1;
    }
    .rule-Btn {
        position: fixed;
        background-color: white;
        top: 84%;
        left: 38%;
        width: 140px;
        height: 60px;
        position: fixed;
        cursor: pointer;
        z-index: 200;
    }
    .startBtn {
        position: relative;
        top: 880px;
        margin-left: 84%;
        transform: translate(-50%, 0);
        background: rgb(184, 3, 3);
        color: white;
        padding: 20px 50px;
        border-radius: 20px;
        z-index: 200;
        cursor: pointer;
        border: none;
        outline: none;
    }
    .highScore {
        color: white;
        position: relative;
        margin-left: 76%;
        top: 0;
        left: 20px;
        font-size: 18px;
        font-weight: 900;
        text-shadow: 5px 5px 10px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 15px;
        border-radius: 5px;
    }
    .score {
        border: 0 solid red;
        color: #0e0e0e;
        position: relative;
        top: 140px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 80%;
        font-size: 25px;
        font-weight: 900;
        text-shadow: 0px 0px 0px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }
    .countdown {
        border: 0 solid black;
        position: relative;
        top: 750px;
        width: 180px;
        margin-left: 85%;
        font-size: 20px;
        text-align: center;
        color: rgb(255 252 252);
    }
    .yoda {
        background-image: url('../images/yoda1.png');
        position: absolute;
        margin-left: 10px;
        top: 100%;
        width: 100%;
        height: 110%;
        transition: 0.4s;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .hole {
        column-count: 9;
        column-gap: 20px;
        justify-content: space-evenly;
        position: relative;
        overflow: hidden;
    }
}

@media (max-width: 320px) {
    .bgimg {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 20%;
        width: 100%;
        display: flex;
        height: 1350px;
        background-repeat: no-repeat;
    }
    .game-play {
        position: relative;
        padding-bottom: 80px;
        left: 10px;
        width: 600px;
        height: 650px;
        margin: 10px auto;
        z-index: 250;
        display: flex;
        space-between: 20%;
        flex-wrap: wrap;
    }
    .instructions {
        position: fixed;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        width: 500px;
        max-width: 80%;
        top: 35%;
        left: 50%;
        z-index: 300;
        visibility: hidden;
        opacity: 0;
    }
    .bg-active {
        visibility: visible;
        opacity: 1;
    }
    .rule-Btn {
        position: fixed;
        background-color: white;
        top: 84%;
        left: 38%;
        width: 140px;
        height: 60px;
        position: fixed;
        cursor: pointer;
        z-index: 200;
    }
    .startBtn {
        position: relative;
        top: 900px;
        margin-left: 95%;
        transform: translate(-50%, 0);
        background: rgb(184, 3, 3);
        color: white;
        padding: 20px 50px;
        border-radius: 20px;
        z-index: 200;
        cursor: pointer;
        border: none;
        outline: none;
    }
    .highScore {
        color: white;
        position: relative;
        margin-left: 86%;
        top: 0;
        left: 20px;
        font-size: 18px;
        font-weight: 900;
        text-shadow: 5px 5px 10px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 15px;
        border-radius: 5px;
    }
    .score {
        border: 0 solid red;
        color: #0e0e0e;
        position: relative;
        top: 140px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 95%;
        font-size: 25px;
        font-weight: 900;
        text-shadow: 0px 0px 0px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }
    .countdown {
        border: 0 solid black;
        position: relative;
        top: 750px;
        width: 180px;
        margin-left: 95%;
        font-size: 20px;
        text-align: center;
        color: rgb(255 252 252);
    }
    .yoda {
        background-image: url('../images/yoda1.png');
        position: absolute;
        margin-left: 10px;
        top: 100%;
        width: 100%;
        height: 110%;
        transition: 0.4s;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .hole {
        column-count: 9;
        column-gap: 20px;
        justify-content: space-evenly;
        position: relative;
        overflow: hidden;
    }
}

@media (max-width: 280px) {
    .bgimg {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 20%;
        width: 100%;
        display: flex;
        height: 1450px;
        background-repeat: no-repeat;
    }
    .game-play {
        position: relative;
        padding-bottom: 80px;
        left: 10px;
        width: 600px;
        height: 750px;
        margin: 10px auto;
        z-index: 250;
        display: flex;
        space-between: 20%;
        flex-wrap: wrap;
    }
    .instructions {
        position: fixed;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        width: 500px;
        max-width: 80%;
        top: 35%;
        left: 50%;
        z-index: 300;
        visibility: hidden;
        opacity: 0;
    }
    .bg-active {
        visibility: visible;
        opacity: 1;
    }
    .rule-Btn {
        position: fixed;
        background-color: white;
        top: 80%;
        left: 38%;
        width: 140px;
        height: 60px;
        position: fixed;
        cursor: pointer;
        z-index: 200;
    }
    .startBtn {
        position: relative;
        top: 1150px;
        margin-left: 105%;
        transform: translate(-50%, 0);
        background: rgb(184, 3, 3);
        color: white;
        padding: 20px 50px;
        border-radius: 20px;
        z-index: 200;
        cursor: pointer;
        border: none;
        outline: none;
    }
    .highScore {
        color: white;
        position: relative;
        margin-left: 100%;
        top: 0;
        left: 20px;
        font-size: 18px;
        font-weight: 900;
        text-shadow: 5px 5px 10px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 15px;
        border-radius: 5px;
    }
    .score {
        border: 0 solid red;
        color: #0e0e0e;
        position: relative;
        top: 140px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 105%;
        font-size: 25px;
        font-weight: 900;
        text-shadow: 0px 0px 0px rgba(192, 187, 187, 0.2);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }
    .countdown {
        border: 0 solid black;
        position: relative;
        top: 950px;
        width: 180px;
        margin-left: 105%;
        font-size: 20px;
        text-align: center;
        color: rgb(255 252 252);
    }
    .yoda {
        background-image: url('../images/yoda1.png');
        position: absolute;
        margin-left: 10px;
        top: 100%;
        width: 100%;
        height: 110%;
        transition: 0.4s;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .hole {
        column-count: 9;
        column-gap: 20px;
        justify-content: space-evenly;
        position: relative;
        overflow: hidden;
    }
}