* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
/*
html {
    cursor: url('/assets/images/lightsaber.png'), auto;
}
*/

.cursor img  {
position: absolute;
height: 100px;
width: 50px;
z-index: 2;
transform: translate( -50%, -50%);
cursor: none;
}

@keyframes hit {
    from {
        transform: rotate(-0deg);
    }
    to {
transform: rotate(-110deg);
    }
}

.wrapper {
    border: 5px solid rgb(138, 4, 4);
    width: 800px;
    height: 600px;
    position: absolute;
    transform: translate( -50%, -50%);
    top: 50%;
    left: 50%;
    background-image: url('../images/background.png');
    overflow: hidden;
}

.score {
    color: white;
    position: absolute;
    top: 10px;
    left: 83%;
    font-size: 25px;
    font-weight: 900;
    text-shadow: 5px 5px 10px rgba(192, 187, 187, 0.2);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 15px;
    border-radius: 5px;
    
}

.highScore {
    color: white;
    position: absolute;
    top: 10px;
    left: 94px;
    font-size: 25px;
    font-weight: 900;
    text-shadow: 5px 5px 10px rgba(192, 187, 187, 0.2);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 15px;
    border-radius: 5px;
}

.countdown {
    position: absolute;
    top: 490px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: rgb(206, 201, 201);
}

.startBtn {
    position: absolute;
    bottom: 10px;
    left: 400px;
    transform: translate(-50%, 0);
    background: rgb(184, 3, 3);
    color: white;
    padding: 20px 50px;
    border-radius: 5px;
    z-index: 200;
    cursor: pointer;
    border: none;
    outline: none;
}

.game-play {
    border: ;
    width: 600px;
    height: 400px;
    margin: 70px auto;
    z-index: 250;
    display: flex;
    flex-wrap: wrap;
    
}

.hole {
     border: ;
     padding-left: 20px;
    -webkit-column-count: 6;
     column-count: 6;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    position: relative;
     overflow: hidden;
}



.hole:after {
    content: '';
    display: block;
     width: 100%;
    height: 70px;
    bottom: -30px;
    background-image: url('../images/claypile.png');
    position: absolute;
    z-index: 2;
    background-size: cover;
}

.yoda {
    background-image: url('../images/yoda1.png');
    position: absolute;
    margin-left: 30px;
    top: 100%;
    width: 80%;
    height: 140%;
    transition: 0.4s;
    background-repeat: no-repeat;
    background-position: bottom;
}

.yoda.small {
    background-size: 60%;
}

.yoda.large {
    background-size: 60%;
}

.hole.up .yoda {
    top: 0;
}


 


